<h2>Contact me</h2>
<form action="/contact/send-message" method="POST" enctype="multipart/form-data"></form>
<div>
    {{#if isSent}}
    The message has been sent!
    File '{{fileName}}' has been saved!
    {{/if}}
</div>
<div>
    {{#if isError}}
    You can't leave fields empty!
    {{/if}}
</div>
  <label>
    Your name: <input type="text" name="author">
  </label>
  <label>
    Your email: <input type="email" name="sender">
  </label>
  <label>
    Title: <input type="text" name="title">
  </label>
  <label>
    Project design: <input type="file" name="projectFile" accept=".png, .jpg, .jpeg, .gif"> 
  </label>
   <label>
    Message: <textarea name="message"></textarea>
  </label>
  <button type="submit">Send message</button>
</form>